.footer {
  width: 100%;
  background-color: #f0f0f0;
  padding: 15px 0 72px;
}

/* 상단 네비게이션 */
.top-footer {
  border-bottom: 1px solid rgba(138, 138, 138, 0.1);
  margin: 0 16px;
}
.top-footer .fnav-list {
  display: flex;
  gap: 4px;
  padding: 24px 0;
}
.top-footer .fnav-list .fnav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 32px;
  background-color: #8a8a8a1a;
  border-radius: 4px;
}
.top-footer .fnav-list .fnav-item img {
  width: 70px;
  height: 32px;
  object-fit: cover;
}

/* 메뉴 리스트 */
.footer-menu {
  display: flex;
  align-items: flex-start;
  padding: 18px 0 24px;
  margin: 0 16px;
  border-bottom: 1px solid rgba(138, 138, 138, 0.1);
}
.fmenu-list {
  width: 220px;
}
.fmenu-list .fmenu-tit {
  width: 100%;
  padding: 6px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.fmenu-list li {
  padding: 6px 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
.fmenu-info {
  font-size: 13px;
  line-height: 18px;
  color: #666;
  padding: 6px 0;
  /* white-space: pre-line; */
}
.fmenu-info a {
  text-decoration: underline;
}

/* copyright */
.footer-copyright {
  padding: 0 16px;
  margin-top: 24px;
  color: #666;
  font-size: 13px;
  line-height: 18px;
}
.footer-copyright .copyright {
  color: #666;
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 4px;
}
.footer-copyright .cominfo,
.footer-copyright .f-txt,
.footer-copyright .f-notice {
  color: #666;
  font-size: 13px;
  line-height: 18px;
}
.footer-copyright .cominfo a,
.footer-copyright .f-txt a {
  text-decoration: underline;
}
.footer-copyright .f-txt {
  padding-bottom: 4px;
}
.footer-copyright .f-notice {
  color: #8a8a8a;
  padding: 4px 0;
}
.footer-copyright .f-link-wrap,
.f-certi-wrap .f-certi {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  padding: 12px 0 8px;
}
.footer-copyright .f-link-wrap a,
.f-certi-wrap .f-certi a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #666;
  text-decoration: underline;
}
.footer-copyright .f-link-wrap a:first-child {
  font-weight: 600;
}

/* certification */
.f-certi-wrap {
  padding-top: 8px;
}
.f-certi-wrap .f-certi {
  padding: 0 0 12px 0;
}
.f-isms {
  display: flex;
  align-items: center;
  padding: 4px 0;
  cursor: pointer;
}
.f-isms img {
  width: 28px;
  height: 28px;
  margin-right: 8px;
}
.f-isms p {
  font-size: 13px;
  line-height: 18px;
  text-decoration: underline;
}

/* sns */
.footer-sns {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.footer-sns a,
.footer-sns img {
  width: 28px;
  height: 28px;
}
