body,
.schedule-list-container,
.schedule-list-inner-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.schedule-list-container {
  width: 100%;
}
.schedule-list-inner-container {
  width: 100%;
  max-width: 1440px;
  background-color: #1a1b1f;
  margin: 0 auto;
}
.schedule-list-inner-bg {
  width: 100%;
  background-color: #fafafa;
  padding: 20px 0 40px;
  box-sizing: border-box;
}
.schedule-list-inner-bg h3 {
  padding: 16px;
  font-size: 20px;
  font-weight: 600;
}
.schedule-wrap {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}
.schedule-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.schedule-list .schedule-item {
  width: calc(100% / 5);
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}

/* 오른쪽 영역 체크 */
.schedule-list .schedule-item:last-child::after {
  content: "";
  position: absolute;
  top: 0;
  right: -16px;
  width: 16px;
  height: 100%;
  background-color: transparent;
}
.schedule-list .schedule-item .schedule-image {
  position: relative;
  width: 100%;
  padding-bottom: 125%;
}
.schedule-list .schedule-item .schedule-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.schedule-list .schedule-item .schedule-image .schdate-box {
  background-color: #4a4a4a;
  width: fit-content;
  height: 16px;
  font-size: 11px;
  line-height: 15px;
  font-weight: 400;
  color: #fff;
  padding: 0 4px;
  position: absolute;
  bottom: 8px;
  left: 8px;
  z-index: 10;
}
.schedule-list .schedule-item .schedule-text-area {
  width: 100%;
  min-height: 56px;
  background-color: #fff;
}
.schedule-list .schedule-item .schedule-text-area p {
  padding: 8px 8px 12px 8px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  color: #000;
  /* 여러 줄 말줄임 */
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* 반응형 */
@media screen and (max-width: 1024px) {
  .schedule-list .schedule-item {
    width: calc(100% / 3);
  }
  .schedule-wrap {
    padding: 0 8px;
  }
}

@media screen and (max-width: 768px) {
  .schedule-list .schedule-item {
    width: calc(100% / 2);
  }
}
