body,
.login-container,
.login-inner-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.login-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100svh;
}
.login-inner-container {
  width: 100%;
  /* min-width: 743px; */
  min-width: 1000px;
  max-width: 1440px;
  height: 100%;
  background-color: #1a1b1f;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.login-inner-bg {
  background-color: #fafafa;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex: 1;
}

/* 작은 전체 영역 */
.login-page-wrap {
  min-width: 600px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fafafa;
}
.login-page-wrap .login-main-tit {
  height: 52px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  padding: 12px 16px;
  background-color: #f5f5f5;
}

/* 하얀 박스 부분 */
.login-white-box {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: #fff;
  padding: 24px 16px 12px;
}
.white-box-top {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 16px;
}
.login-input-area {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 34px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background-color: #fff;
  transition: border 0.2s ease-in-out;
  overflow: hidden;
}
.login-input {
  width: 100%;
  height: 34px;
  padding: 0 8px;
  border: none;
  background-color: #fff;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  appearance: none;
  outline: 0;
}
.login-input-area:has(.login-input:focus) {
  border-color: #8a8a8a;
  transition: border 0.2s ease-in-out;
}
.login-input-area .input-type-btn {
  width: 20px;
  height: 20px;
  margin-right: 7px;
  background: url(../image/eye-closed.png) no-repeat center/100%;
}
.login-input-area .input-type-btn.active {
  background-image: url(../image/eye.png);
}

/* 로그인버튼 */
.login-btn {
  width: 100%;
  height: 44px;
  padding: 12px 16px;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

/* 자동 로그인, 찾기버튼 */
.login-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.login-check {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #666;
  padding-left: 24px;
}
.login-check::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url(../image/checkbox-default.png) no-repeat center/100%;
}
.login-check:has(input[type="checkbox"]:checked)::before {
  background-image: url(../image/checkbox-checked.png);
}
.login-check:has(input[type="checkbox"]:checked) {
  color: #000;
}
.login-check input[type="checkbox"] {
  display: none;
}
.find-links {
  display: flex;
  align-items: center;
}
.find-links li {
  height: 21px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 17px;
}
.find-links li a {
  font-size: 13px;
  line-height: 18px;
  color: #8a8a8a;
}
.find-links li:last-child::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  width: 1px;
  height: 13px;
  background-color: #ccc;
}

/* 카카오 버튼, 애플 버튼 */
.sns-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #000;
  padding: 10px 16px;
  border-radius: 4px;
}
.sns-btn span::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat center/100%;
  margin-right: 4px;
}
.sns-btn span {
  display: flex;
  align-items: center;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
  text-align: center;
}
.kakao-btn {
  background-color: #fee500;
  border-color: #fee500;
}
.kakao-btn span::before {
  background-image: url(../image/kakao.png);
}
.apple-btn {
  background-color: #fff;
  border-color: #e0e0e0;
}
.apple-btn span::before {
  background-image: url(../image/apple.png);
}

/* 회원가입 */
.join-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 8px 16px 72px;
}
.join-box span {
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  color: #000;
}
.join-box .join-btn {
  padding: 3px 6px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-sizing: border-box;
}
.join-box .join-btn a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000;
}

/* 비회원으로 주문 */
.guest-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.guest-box p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
}
.guest-btn {
  text-decoration: underline;
  background-color: transparent;
}
.guest-btn a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000;
}
