body,
.login-container,
.login-inner-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.login-container {
  width: 100%;
  min-height: 100svh;
}

.login-inner-container {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  background-color: #1a1b1f;
  margin: 0 auto;
}

.login-inner-bg {
  background-color: #fafafa;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.login-page-wrap {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

.login-page-wrap .login-main-tit {
  height: 52px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  padding: 12px 16px;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

.login-white-box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 24px 16px 12px;
}

.white-box-top {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-input-area {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 34px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background-color: #fff;
  transition: border 0.2s ease-in-out;
  overflow: hidden;
}

.login-input {
  width: 100%;
  height: 100%;
  padding: 0 8px;
  border: none;
  background-color: #fff;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  appearance: none;
  outline: 0;
}

.login-input-area:has(.login-input:focus) {
  border-color: #8a8a8a;
}

.login-input-area .input-type-btn {
  width: 20px;
  height: 20px;
  margin-right: 7px;
  background: url(../image/eye-closed.png) no-repeat center/100%;
  border: none;
  padding: 0;
}

.login-input-area .input-type-btn.active {
  background-image: url(../image/eye.png);
}

.login-btn {
  width: 100%;
  height: 44px;
  padding: 12px 16px;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.login-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.find-links {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.find-links li {
  height: 21px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 17px;
}

.find-links li a {
  font-size: 13px;
  line-height: 18px;
  color: #8a8a8a;
  text-decoration: none;
}

.find-links li:last-child::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  width: 1px;
  height: 13px;
  background-color: #ccc;
}

.sns-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #000;
  padding: 10px 16px;
  border-radius: 4px;
  background: none;
}

.sns-btn span::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: no-repeat center/100%;
  margin-right: 4px;
}

.sns-btn span {
  display: flex;
  align-items: center;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
  text-align: center;
}

.kakao-btn {
  background-color: #fee500;
  border-color: #fee500;
}

.kakao-btn span::before {
  background-image: url(../../image/kakao.png);
}

.apple-btn {
  background-color: #fff;
  border-color: #e0e0e0;
}

.apple-btn span::before {
  background-image: url(../../image/apple.png);
}

.join-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 8px 16px 72px;
}

.join-box span {
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  color: #000;
}

.join-box .join-btn {
  padding: 3px 6px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-sizing: border-box;
}

.join-box .join-btn a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
}

.guest-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.guest-box p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
}

.guest-btn {
  text-decoration: underline;
  background-color: transparent;
  border: none;
}

.guest-btn a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .login-inner-bg {
    padding: 0;
  }
  .login-page-wrap {
    max-width: 100%;
    min-height: calc(100svh - 56px);
  }
  .login-white-box {
    flex-grow: 1;
  }
}
