.pd-list-container {
  width: 100%;
}
.pd-list-inner-container {
  width: 100%;
  max-width: 1440px;
  background-color: #1a1b1f;
  margin: 0 auto;
}
.pd-list-inner-bg {
  width: 100%;
  background-color: #fafafa;
  padding: 20px 0 40px;
  box-sizing: border-box;
}

/* 상품 영역 */
.products-wrap {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}
h3 {
  padding: 16px;
  font-size: 20px;
  font-weight: 600;
}
.products-wrap .product-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.product-list .product-item {
  width: calc(100% / 5);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.product-list .product-item .pd-image {
  position: relative;
  width: 100%;
  padding-top: 125%;
  overflow: hidden;
}
.numtag {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
  z-index: 10;
}

.product-list .product-item .pd-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-list .product-item .pd-image .pd-like-btn {
  width: 24px;
  height: 24px;
  background: url(../image/likebtn-off.png) no-repeat center/100%;
  position: absolute;
  right: 8px;
  bottom: 8px;
  z-index: 20;
}
.product-list .product-item .pd-image .pd-like-btn input[type="checkbox"] {
  display: none;
}
.product-list
  .product-item
  .pd-image
  .pd-like-btn:has(input[type="checkbox"]:checked) {
  background-image: url(../image/likebtn-on.png);
}
.product-list .product-item .pd-text-area {
  min-height: 90px;
  padding: 8px 12px;
  background-color: #fff;
  flex-grow: 1;
}
.product-list .product-item .pd-text-area .pd-brand {
  font-size: 11px;
  line-height: 14px;
  font-weight: 600;
  color: #000;
  /* 한 줄 말줄임 */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.product-list .product-item .pd-text-area .pd-tit {
  margin-top: 2px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000;
  min-height: 36px;
  /* 여러 줄 말줄임 */
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.product-list .product-item .pd-text-area .pd-price {
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  color: #000;
}
.product-list .product-item .pd-text-area .pd-price .discount-per {
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  color: #f31110;
  margin-right: 2px;
}

/* 반응형 */
@media screen and (max-width: 1024px) {
  .product-list .product-item {
    width: calc(100% / 3);
  }
}

@media screen and (max-width: 768px) {
  .products-wrap {
    padding: 0 8px;
  }
  .product-list .product-item {
    width: calc(100% / 2);
  }
}
