body,
.search-container,
.search-inner-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.search-inner-container {
  max-width: 1440px;
  background-color: #1a1b1f;
  margin: 0 auto;
}
.search-inner-bg {
  flex: 1;
  width: 100%;
  background-color: #fafafa;
  padding: 20px 16px;
  box-sizing: border-box;
}
.searchbar {
  position: relative;
  width: 100%;
  height: 36px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  margin-bottom: 20px;
  padding-right: 30px;
  box-sizing: border-box;
}
.searchbar .search-input {
  width: 100%;
  height: 100%;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #8a8a8a;
  border: 0;
  padding: 0 8px;
  overflow: hidden;
  outline: none;
}
.search-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  box-shadow: 0 0 0 1000px white inset;
}
.search-input:-webkit-autofill:active {
  -webkit-text-fill-color: #000;
  text-fill-color: #000;
}

.searchbar:has(.search-input:focus) {
  border-color: #1a1b1f;
}
.searchbar::after {
  content: "";
  width: 20px;
  height: 20px;
  background: url(../image/search-icon.png) no-repeat center/100%;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

.product-num {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #000;
}
.product-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}
.product-list .product-item {
  width: calc(100% / 5);
  cursor: pointer;
  padding: 4px;
  box-sizing: border-box;
}
.product-list .product-item .pd-image {
  position: relative;
  width: 100%;
  padding-bottom: 125%;
  overflow: hidden;
}
.product-list .product-item .pd-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-list .product-item .pd-image .pd-like-btn {
  width: 20px;
  height: 20px;
  background: url(../image/likebtn-off.png) no-repeat center/100%;
  position: absolute;
  right: 4px;
  bottom: 4px;
  z-index: 20;
}
.product-list .product-item .pd-image .pd-like-btn input[type="checkbox"] {
  display: none;
}
.product-list
  .product-item
  .pd-image
  .pd-like-btn:has(input[type="checkbox"]:checked) {
  background-image: url(../image/likebtn-on.png);
}
.product-list .product-item .pd-text-area {
  min-height: 90px;
  padding: 8px 12px;
  background-color: #fff;
}
.product-list .product-item .pd-text-area .pd-brand {
  font-size: 11px;
  line-height: 14px;
  font-weight: 600;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.product-list .product-item .pd-text-area .pd-tit {
  margin-top: 2px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000;
  min-height: 36px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.product-list .product-item .pd-text-area .pd-price {
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  color: #000;
}
.product-list .product-item .pd-text-area .pd-price .discount-per {
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  color: #f31110;
  margin-right: 2px;
}
.no-search,
.no-result {
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
}
.highlight {
  font-weight: 600;
  color: #0294ff;
}

@media screen and (max-width: 1024px) {
  .product-list .product-item {
    width: calc(100% / 3);
  }
}

@media screen and (max-width: 768px) {
  .search-inner-bg {
    padding: 16px 8px;
  }
  .product-list .product-item {
    width: calc(100% / 2);
  }
  .product-list .product-item .pd-text-area {
    padding: 8px;
  }
}
