body,
.signup-container,
.signup-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
}
.signup-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100svh;
}
.signup-inner-container {
  width: 100%;
  /* min-width: 743px; */
  min-width: 1000px;
  max-width: 1440px;
  height: 100%;
  background-color: #1a1b1f;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.signup-inner-bg {
  flex: 1;
  width: 100%;
  background-color: #fafafa;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

/* 작은 전체 영역 */
.signup-page-wrap {
  min-width: 600px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fafafa;
}
.signup-page-wrap .signup-main-tit {
  height: 52px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  padding: 12px 16px;
  background-color: #f5f5f5;
}

/* 하얀 박스 부분 */
.signup-white-box {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: #fff;
  padding: 24px 16px 12px;
}

/* 인풋 전체 */
.join-input-wrap {
  padding-bottom: 24px;
}
.join-input-wrap .join-label {
  display: inline-block;
  width: 100%;
  padding-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
}
.join-input-wrap .join-label span {
  font-size: 14px;
  color: #ff4567;
}
.join-input-box {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 34px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background-color: #fff;
  transition: border 0.2s ease-in-out;
  overflow: hidden;
}
.join-input-wrap .join-input-box:nth-of-type(2) {
  margin-top: 8px;
}
.join-input-box input {
  width: 100%;
  height: 34px;
  padding: 0 8px;
  border: none;
  background-color: #fff;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  appearance: none;
  outline: 0;
}
.join-input-box .input-type-btn {
  width: 20px;
  height: 20px;
  margin-right: 7px;
  background: url(../image/eye-closed.png) no-repeat center/100%;
}
.join-input-box .input-type-btn.active {
  background-image: url(../image/eye.png);
}

/* 벨리데이션 */
.validation-wrap {
  padding: 4px 0 0 4px;
}
.validation {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.validation.red {
  color: #ff4567;
}
.validation.green {
  color: #0c9e20;
}

/* 약관 동의 */
.join-agree-wrap {
  width: 100%;
  padding-left: 8px;
}
.allagree-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.allagree-flex label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
}
.allagree-flex input {
  margin: 0;
  margin-right: 4px;
  accent-color: #000;
}
.join-agree-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}
.join-agree-flex label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000;
}
.join-agree-flex input {
  margin: 0;
  margin-right: 4px;
  accent-color: #000;
}
.agree-more-btn {
  background-color: #fff;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #666;
  text-decoration: underline;
}

/* 회원가입 버튼 */
.join-btn {
  width: 100%;
  height: 44px;
  padding: 12px 16px;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
